<div class="navbar-cocktail">
  <!-- Logo -->
    <a href="/" class="logo">
      <%= image_tag "logo.png", alt: "Cocktail logo", width: 120, height: 100 %>
    </a>

    <div>
      <a href="">Create a cocktail!</a>
    </div>
</div>
