<h1>Add doses!</h1>


  <%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :ingredient, collection: Ingredient.list_names,
    input_html: { multiple: true,
    include_blank: false } %>
    <%= f.input :description %>
  <%= f.submit %>
  <% end %>
